/problema1/solucion1/nbproject/private/
/problema1/solucion1/build/
/problema2/solucion2/nbproject/private/
/problema2/solucion2/build/
/problema3/soulcion3/nbproject/private/
/problema3/solucion3/nbproject/private/
/problema3/solucion3/build/
/problema3/solucion2/nbproject/private/
/problema4/solucion2/nbproject/private/
/problema4/solucion2/build/
